<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
>
  <div class="d-flex flex-column align-items-center w-100">
    <a
          class="mx-2 my-1 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 lg:mb-0 lg:mt-0"
          href="https://www.linkedin.com/in/jacek-zolotar-web-dev/"
        >
          <img
            [style.height]="'80px'"
            src="assets/logo.png"
            alt="Fix & Patch logo"
            loading="lazy"
          />
        </a>
  </div>
</footer>
