<div class="text-center">
    <ul>
        <li>
            <p class="text-xl">{{ 'weatherInfo.myLocation' | translate }}</p>            
        </li>
        <li>
            <p class="text-xs">{{ location || '' }}</p>
        </li>
        <li>
            <p class="text-4xl">{{ temp + ' ℃'}}</p>
        </li>
        <li>
            <p class="text-xs">{{ description.charAt(0).toUpperCase() + description.slice(1) }}</p>
        </li>
        <li>
            <p class="text-xs">{{ tempMin + ' ℃ ' + ' - ' + tempMax + ' ℃' }}</p>
        </li>
    </ul>
</div>

