<div class="text-center m-6">
  <div>
    <ul>
      <li class="my-0">
        <p class="text-xl tracking-wide">
          {{ "WEATHER_INFO.MY_LOCATION" | translate }}
        </p>
      </li>
      <li>
        <p class="text-xs tracking-wide font-medium">
          {{ location.toUpperCase() || "" }}
        </p>
      </li>
      <li class="my-2">
        <p class="text-5xl">{{ (mainWeather.temp | number: '1.0-0') + " ℃" }}</p>
      </li>
      <li>
        <p class="text-sm">
          {{ descriptionShort.charAt(0).toUpperCase() + descriptionShort.slice(1) }}
        </p>
      </li>
      <li>
        @if (mainWeather.temp_min === mainWeather.temp_max) {
          <p class="text-base">{{ (mainWeather.temp_min | number: '1.0-0') + " ℃ "}}</p>
        } @else {
          <p class="text-base">{{ (mainWeather.temp_min | number: '1.0-0') + " ℃ " + " - " + (mainWeather.temp_max | number: '1.0-0') + " ℃" }}</p>
        }
      </li>
    </ul>
  </div>
</div>
<div class="flex flex-col shadow-lg rounded-lg m-4 bg-white text-black">
  <div class="text-xs">
    <ul>
      <li>
        <div class="flex">
          <p>{{ "WEATHER_INFO.CLOUDS" | translate }}:</p>&nbsp;
          <p>{{ descriptionShort.charAt(0).toUpperCase() + descriptionShort.slice(1) }}</p>
        </div>
      </li>
      <li>
        <div class="flex">
          <p>{{ "WEATHER_INFO.WIND" | translate }}:</p>&nbsp;
          <p>{{  wind.deg }}</p>
          &nbsp;
          <p>{{ "WEATHER_INFO.WIND" | translate }}:</p>&nbsp;
          <p>{{  wind.speed }}</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="flex flex-row">
    <app-day-box></app-day-box>
  </div>
</div>
